# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\프로그래밍\2021\python(jh\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
